@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 10px;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
}

.texto-logo-top {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 13px;
}

/* main */

.bienvenida {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
.oferta {
  height: 500px;
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.descuento {
  position: relative;
  font-size: 20px;
}
.comederos {
  font-size: 25px;
  position: relative;
  top: 100px;
  color: #f3f3f3;
  background-color: #f0a83e;
  width: fit-content;
  left: 650px;
}
.productos {
  text-align: left;
  padding: 10px;
  margin: 10px;
}
.precio {
  color: #f0a83e;
}
footer {
  background-color: #3c2313;
  color: #f3f3f3;
}
.item {
  color: #f3f3f3;
  padding: 10px;
  margin: 10px;
}
.texto-logo-bot {
  color:#f0a83e;
}